@charset "UTF-8";


.cartForm {
	text-align: center;
	margin-top: 2vw;
	margin-bottom: 2vw;
}

.tableForm {
	width: 60%;
	border-collapse: collapse;
	margin-top: 2vw;
	margin-bottom: 2vw;
}
.check {
	width: 3vh;
	height: 2vh;
}

th {
	border-top: 0.05vw solid #DCDCDC;
	border-bottom: 0.05vw solid #DCDCDC;
	padding: 1vw 0.5vw;
	font-size: 0.8vw;
}

td {
	padding: 1vw 0.5vw;
	font-size: 0.8vw;
	border-bottom: 0.05vw solid #DCDCDC;
}

.view, .delete {
	border: 0.1vw solid gray;
	padding: 0.2vw 0.5vw;
	font-size: 0.7vw;
}

.view {
	background-color: gray;
	color: white;
}

img {
border-radius : 50%;
}

.orderList {
	font-size: 0.8vw;
	display: flex;
	width: 60%;
	height: 15vw;
	border-top: 0.05vw solid #DCDCDC;
	border-bottom: 0.05vw solid #DCDCDC;
	margin-bottom: 1vw;
	padding: 0.5vw 0;
	margin-bottom: 2.5vw;
}

.delete {
	background-color: white;
}

.orderListLeft {
	width: 40%;
	margin-top: 1vw;
}

.orderListRight {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 60%;
}

.orderListH {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.lastH {
	border-top: 0.05vw solid #DCDCDC;
	padding-top: 1vw;
}