@charset "UTF-8";

.myPageForm {
	padding: 3vw 1vw;
	display: flex;
	margin-top: 5vw;
	margin-bottom: 5vw;
	width: 50%;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	border: 0.05vw solid #DCDCDC;
}
.coinMenu {
	width: 90%;
	text-align: right;
	font-size:0.9vw;
}
.coinMenu > p {
	margin-bottom: 1vw;
}
.btn {
	padding: 0.5vw;
	width: 7vw;
	height: 1.5vw;
	margin: 2vw 0;
	background-color: red;
	border-radius : 5px;
	color: white;
	border: none;
	font-size: 0.9vw;
}
.btn:hover {
	opacity: 0.7;
}
.myPageTop {
    width: 95%;
    height: 75%;
    display: flex;
    align-items: center;
	justify-content: center;
}
.myPageLeft{
    display: flex;
    flex-direction:column;
	justify-content: center;
	align-items: center;
    width: 35%; /* 20vw */
	height: 80%; /* 20vw */
}
.myPageImage{
    width: 13vw;
	height: 13vw;
    border-radius: 50%;
    background-color: gray;
    margin-bottom: 1vw;
}

.myPageImageInner {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit:cover;
}
.addMyPageImage{
	width: 100%; 
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
}
.myPageRight{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    width: 65%;
    height: 80%;
}

.myPageClass{
    width: 90%;
    height: 12vw;
    font-size: 0.9vw;
    border-top: 0.01vw solid gray;
    border-bottom: 0.01vw solid gray;
    padding: 1vh 0;
}
.myPageClassStatus{
	width: 100%;
	height: 10vw;
    display:  flex;
	justify-content: space-around;
}
.myPageClassStatusLeft{
	margin-top: 1vw;
	width: 40%;
	height: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}
.myPageClassStatusRight{
	margin-top: 1vw;
	width: 60%;
	height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
.mypageColumn {
	width: 80%;
	text-align: left;
}
.myPageBottom { 
    display: flex;
    justify-content: center;
    align-content: center;
    width: 95%;
    height: 15%;
}
.bigText{
    font-size: 1.1vw;
}
.mypageBtn {
    font-size: 0.8vw;
	width: 10vw;
	height: 2vw;
	background-color: #72787F;
	color: white;
	border: none;
	margin-top: 0.7vw;
}
.mypageBtn:hover {
	opacity: 0.7;
}
