@charset "UTF-8";

.writeTotalForm {
	margin-top: 10vh;
	margin-bottom: 10vh;
	width: 70%;
	height: 100vh;
	border: 0.01rem solid #72787F;
}

.writeForm {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.wirteFormLeft {
	margin-left: 10vw;
/* 	height: 30vh; */
	padding: 5vh;
}

.wirteFormRight {
	margin-right: 10vw;
/* 	height: 30vh; */
	padding: 3vh;
}

.writeContent {
	padding: 3vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50vh;
}
.writeContentTop{
	padding: 2vh;
	width: 100%;
	float: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.writeContentBox{
	width: 70%;
	height: 40vh;
}